@import url('https://fonts.googleapis.com/css2?family=Keania+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Keania+One&display=swap');

*{
    padding: 0;
    margin: 0;
    
}

header{
    display: flex;
    width: 100vp;
    height: 10vh;
    background-color: #F5F5F5;
    align-items: center;
    
}

main{
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;

}

.container{
    display: flex;
    align-items: center;
    flex-direction:column;
    width: 80vw;
    height: 50%;
}

.content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content h1{
    font-size: 4em;
}

.content p{
    font-family: "Afacad", sans-serif;
    color: #072C07;
    width: 80%;
    font-size: 1.3em;
    text-align: center;
    padding: 40px;
}


.btns{
    display: flex;
    justify-content: center;
    gap: 10%;
    width: 80%;
    height: 17%;
}

.btn{
    display: flex;
    width: 30%;
    height: 90%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Afacad", sans-serif;
    border-radius: 10px;
    font-size: 1.2em;
    padding: 10px;
    gap: 5%;
}

.btn1{
    border:  solid 1px #98C897;
    color: #0A3E0A;
}

.btn2{
    background-color: #0A3E0A;
    color:#F5F5F5;
    border: solid 10px #0A3E0A;
}


h1{
    font-family: "Keania One", sans-serif;
    color: #0A3E0A;
}

header img{
    width: 30px;
    height: 30px;
    margin-left: 100px;
    margin-right: 20px;
}

main img{
    width: 80px;
    height: 80px;
}

.btn img{
    height: 30px;
    width: 27px;
}