#crocodilianos.top-conteudo{
    margin-top: -20px;
}


#crocodilianos.bottom-conteudo{
    margin-left: 20px;
    margin-top: 20px;
}

#crocodilianos.bottom-conteudo h2{
    /* position: relative; */
    margin-right: 10px;
    color: #0A3E0A;
    font-size: 28px;
}

#crocodilianos.bottom-conteudo-bottom{
    display: flex;
    gap: 40px;
    /* position: relative; */
    margin-right: 100px;
    width: 1000px;
}

#crocodilianos.cards-container{
    margin-top: 100px;
}
