


#lagarto .titulo{
    width: 85%;
}

#lagarto.campo-imagem {
    /* position: relative;  */
    margin-bottom: 180px;
    margin-top: -180px;
}

#lagarto.campo-imagem img[data-id="2"]{
    /* position: relative; */
    margin-left: 60px;
    margin-bottom: 50px;
}


#lagarto.caracteristicas h2{
    font-size: 28px;
}

#lagarto.caracteristicas p {
    font-size: 22px;
    width: 110%;
}


#lagarto.top-conteudo{
    display: flex;
    justify-content: center;
    height: 600px;
}