#lagarto.container{
    margin-top: 100px;
}

#lagarto .titulo{
    width: 85%;
}

#lagarto.campo-imagem {
    position: relative;
    bottom: 180px;
}

#lagarto.campo-imagem img[data-id="2"]{
    position: relative;
    left: 60px;
    bottom: 50px;
}


#lagarto.caracteristicas h2{
    font-size: 28px;
}

#lagarto.caracteristicas p {
    font-size: 22px;
    width: 110%;
}

#lagarto.cards-container{
    position: relative;
    bottom: 130px;
}

