/* #quelonios.container{
    margin-top: -250px;
} */

#quelonios.intro{
    width: 1100px;
}

#quelonios.intro p{
    width: 100%;
}

#quelonios.intro img{
    /* position: relative; */
    margin-bottom: 20px;
    width: 600px;
    height: 300px;
    margin-right: 80px;
}

#quelonios.top-conteudo{
    margin-top: -10px;
}


#parte1-quelonios{
    width: 47%;
}
#parte1-quelonios img{

    right: 50px;
    margin-top: 30px;
}

#parte2-quelonios{
    width: 550px;
}

#quelonios.cards-container{
    margin-top: 100px;
}

#quelonios.conteudo-card{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}