.serpentes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
}

.serpentes p{
    font-size: 20px;
}

.titulo-serpente h1{
    color: #2C762A;
    font-size: 35px;
    position: relative;
    bottom: 15px;
}

.titulo-serpente p{
    text-indent: 30px;
    font-size: 22px;
}

.titulo-serpente hr{
    width: 100px;
    position: relative;
    bottom: 10px;
    border: 1px solid var(--cor-subtitulo);
}
.conteudo-serpentes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.top-conteudo-serpente{
    display: flex;
    position: relative;
    top: 40px;
    left: 20px;
}


.top-conteudo-serpente h2{
    position: relative;
    right: 15px;
    color: #0A3E0A;
}

.caracteristicas-serpente h2{
    font-size: 28px;
}

.caracteristicas-serpente p {
    font-size: 22px;
    width: 90%;
}

.bottom-conteudo-serpente{
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    width: 89%;
}

.bottom-conteudo-serpente p{
    font-size: 22px;
}

.bottom-conteudo-serpente p:first-child{
    text-indent: 30px;
}

.bottom-conteudo-serpente p:last-child{
    position: relative;
    text-indent: 30px;
    top: 20px;
}

.cards-serpente-container{
    position: relative;
    top: 120px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.card-serpente{
    height: 400px;
    width: 300px;
    border: 2px solid var(--cor-bordas);
    transition: transform 0.5s ease;
    border-radius: 15px;
    overflow: hidden;
}

.card-serpente img{
    object-fit: cover;
}

.conteudo-card h2{
    font-size: 22px;
    padding:0 0.5em;
}

.conteudo-card p{
    font-size: 16px;
    text-align: center;
    padding: 0.3em;
    width: 100%;
}
