#serpente.cards-container{
    /* position: relative; */
    margin-top: 120px;
    
}

#serpente.bottom-conteudo{
    margin-top: 20px;
    margin-bottom: -30px;
}

#serpente.caracteristicas p{
    width: 80%;
}
